<div class="container">

    <br><br>

   <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
                <img src="https://image.flaticon.com/icons/png/512/48/48643.png" style="width:30px"  alt="Dilip Ramanan" class="img-rounded">
                &nbsp;
                Demand Tracker
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
          <br>
          Deamnd Tracker, a place where you can have have a compleate track of all the deals,demand and status of each deamnd in an account.
      </mat-card-content>

    </mat-card>


</div> 
 