<div class="container">

    <br><br>

   <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Dilip Ramanan</mat-card-title>
        <mat-card-subtitle>Support Team | Demand Tracker</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <br>
          <b>E-Mail: </b>xxxxxx@yyyyy.com<br><br>
          <b>Contact Number :</b>xxxxxxxxxx<br><br>
      </mat-card-content>
    </mat-card>


</div> 
 
